* {
 margin: 0;
 padding: 0;
}

body {
    font-family: Roboto Condensed, Roboto, arial, helvetica, sans-serif;
    color: #262626;
    background-color: #fff;
}

h1 {
    font-size: 400%;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-size: 120%;
    padding: 30px 0 10px 0;
}

h3 {
    font-size: 100%;
    padding: 20px 0 10px 0;
}

p {
    line-height: 1.6;
}

ul {
    line-height: 1.6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 100%;
}

.inf {
    height: 100%;
    font-size: 150%;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 20px 20px;
}

.news {
    height: 100%;
    font-size: 150%;
    list-style-position: inside;
    padding: 0 40px 20px 40px;
}

.footer {
    height: 100%;
    color: #fff;
    background-color: #1b1a18;
    text-align: center;
    padding: 30px 0 30px 0;
}
